body
{
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid;
}
#cabecera
{
    background: lightpink;
    box-shadow: 0px 5px 30px 0px rgba(0, 0,0,.75);
    color: white;
    font-weight: bold;
    margin:0;
    padding: .5em ;
}